main {
  padding: 3rem;
  display: flex;
  gap: 3rem;
  flex-direction: column;
}
img {
  height: 500px;
}

h2 {
  margin-bottom: 2rem;
}

h3 {
  margin-bottom: 1rem;
}

.screen-wrapper {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
}
.screens {
  display: flex;
  gap: 3rem;
}

#hue-slider {
  width: 400px;
}

#controls {
  display: flex;
  gap: 1.5rem;
}